<<<<<<< HEAD
        #rumah {
            width: 80%;
            margin: auto;
        }
        .Kompetensi {
            color: red;
            font-style: italic;
            font-size: large;
        }

        .Riwayat {
            height: 500px;
        }
        
        .Huruf {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
        }

        .Jarak {
            margin-top: 30px;
            margin-bottom: 50px;
        }

        .warna {
            background-color: yellow;
        }

        .wlcm {

            display: flex;
            text-align: center;
=======
        #rumah {
            width: 80%;
            margin: auto;
        }
        .Kompetensi {
            color: red;
            font-style: italic;
            font-size: large;
        }

        .Riwayat {
            height: 500px;
        }
        
        .Huruf {
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            
        }

        .Jarak {
            margin-top: 30px;
            margin-bottom: 50px;
        }

        .warna {
            background-color: yellow;
        }

        .wlcm {

            display: flex;
            text-align: center;
>>>>>>> 1345b1f95106050deba71cb1729a52547135453c
        }